---
---
/* TABLE OF CONTENTS
-----------------------------------------------
    GLOBAL
    LINK
    HEADER
    NAVIGATION
    MAIN
    FOOTER
----------------------------------------------- */
/* GLOBAL
----------------------------------------------- */
html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    color: #1a1a1a;
}
.left {
    *display: inline;
    float: left;
}
.right {
    *display: inline;
    float: right;
}
.btn {
    display: inline-block;
    border: 1px solid #000002;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #343738; /* old browsers */
    background: -moz-linear-gradient(top, #343738 0%, #070810 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343738), color-stop(100%,#070810)); /* webkit */
    padding: 3px 0;
    text-align: center;
    text-shadow: 0px 1px 0px #000000;
    width: 140px;
}
/* .btn should be global so I use !important here */
.btn:link { color: #fafafa !important; }
.btn:visited { color: #f1f1f1 !important; }
.btn:hover {
    color: #fafafa !important;
    background: -moz-linear-gradient(top, #070810 0%, #343738 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#070810), color-stop(100%,#343738)); /* webkit */
    text-decoration: none;
}

/* LINK
-------------------------------------------------------- */
a:link {
    text-decoration: none;
    border-bottom: 1px dotted #1a1a1a;
}
a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #383838;
}
a:hover {
    text-decoration: none;
}
.home a:link {
    border-bottom: 0;
}
.home a:visited {
    border-bottom: 0;
}
.home a:hover {
    border-bottom: 0;
}

/* HEADER
----------------------------------------------- */
#head { margin-bottom: 24px; }
#head ul li {
    display: inline-block;
  /* font-weight: bold; 
    text-shadow: 0px 1px 0px #fff;
    */
}
.logo {
    text-align: center;
    width: 100%;
    color: #DCDEE0;
    font-family: 'Hiragino Minch Gothic ProN','Quattrocento', 'Georgia', serif;
    font-size: 48px;
    font-style: lighter;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.042em;
    word-spacing: 0em;
    line-height: 1.2;
}
.logo a:link { border-bottom: 0 none;    }
.logo a:visited {    border-bottom: 0 none; }
.logo a:hover { border-bottom: 0 none; }
.logo a {
    color: #DCDEE0;
}
.tagline {
    margin-left: 5px;
    text-align: center;
    font-family: 'Hiragino Minch Gothic ProN','Quattrocento', 'Georgia', serif; 
    width: 100%;
    font-size: 16px;
    font-style: lighter;
    font-weight: 100;
}

/* MAIN
----------------------------------------------- */
.hd_article .btn { margin-top: 3px; }
.the_article {
}
.the_article .article_inner {
    padding-top: 24px;
    padding-bottom: 24px;
}
.the_article ul { list-style: square; }
.the_article ol { list-style: decimal; }
.the_article img.left { margin-right: 12px; }
.the_article img.right { margin-left: 12px; }
/* If home */
body.home .the_article { background: none; }
body.home .the_article .posts {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}
body.home .the_article .posts li {
    list-style: none;
    margin-bottom: 24px;
    padding-bottom: 6px;
    position: relative;
}
body.home .the_article .posts li div {
    width: 415px;
}
body.home .the_article .posts li small {
    position: absolute;
    right: 0;
    top: 1px;
    date { margin-left: 12px; }
}
body.home .the_article .posts .article-link a,
body.home .the_article .posts .article-link a:visited {
    font-size: 24px;
    color: #FF8352;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
body.home .the_article .posts .article-link {
    color: #FF8352
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.6);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.6);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.6);
}
body.home .the_article .posts li:last-child { margin-bottom: 0; }
/* If post */
body.post .hd_article h1 { margin-bottom: 0; }
body.post .hd_article .meta { margin-bottom: 24px; }
body.post .content blockquote {
    border-left: 1em solid #eceded;
    padding-left: 1em;
    p { margin-left: 0; }
}
body.post .content ul { list-style: square; }
body.post .content ol { list-style: decimal; }
body.post .content p code, li code {
    background-color: rgba(75, 77, 69, 0.8);
    padding: 0 5px;
}
body.post .content img {
    background: #f0f0f0;
    border-top: 1px solid #fff;
    display: block;
    outline: 1px solid #ddd;
    padding: 10px;
}
body.post .content img.left { margin-right: 14px; }
body.post .content img.right { margin-left: 14px; }
body.post .content img.huge {
    position: relative;
    clear: both;
}
body.post .content .highlight { margin-bottom: 1.5em; }
body.post .content .highlight:before {
    content: "Source code:";
    display: block;
    margin: 0 0 7px 7px;
}
body.post .content .highlight pre {
    border: 1px solid #ddd;
    margin-left: 0;
    padding: 10px;
    overflow: auto;
}

/* NAV.pagenation
----------------------------------------------- */
.pagenation {
    padding: 24px 0;
    overflow: hidden; zoom: 1;
}

.border {
    height: 1px;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
    margin-left: 40px;
}

.post-link {
    margin-left: 40px;
    font-family: Helvetica, Arial, sans-serify;;
    font-weight: normal;
}

.post-link a {
    font-size: 24px;
}

.post-link a:visited {
}

#previous {
    margin-bottom: 40px;
}

#previous a,
#previous a:visited {
    color: #338AF6;
}

.article-link date,
.caption {
    font-size: 16px;
}

#suggest {
    margin-bottom: 40px;
}

#suggest a,
#suggest a:visited {
    color: #6CBB56;
}

.main_inner {
    margin-left: 40px;
    margin-right: 40px;
}

/* FOOTER
----------------------------------------------- */

#foot {
    text-align: center;
    font-family: Georgia;
    padding: 0 0 24px;
    padding-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
}

#foot ul {
    list-style: square;
    padding-left: 1em;
}
