---
layout: home
title: _layouts
description: this is where your meta description for top page.
---
<div id="nav">
     <ul>
         <li><a href="/about/">About</a></li>
         <li class="selected"><a href="/">Courses</a></li>
         <li><a href="/events/">Events</a></li>
         <li><a href="mailto:hello@kitchentablecoders.com">Contact</a></li>
     </ul>
</div>


<!-- h1 id="upcoming">All upcoming workshops</h1-->
<ul class="posts">
    {% for post in site.posts %}
    {% if post.upcoming and post.categories contains 'class' %}
    <li class="article-link">
        <date title="{{ post.date | date_to_xmlschema }}">
            <span class="day-of-week">{{ post.date | date: '%A' }}</span>
            <span class="month">{{ post.date | date: '%B' }}</span>
            <span class="day">{{ post.date | date: '%d' }}</span>,
            <span>@ Brooklyn, NY</span>
        </date>
        <div>
            <a href="{{ post.url }}" class="h3">{{ post.title }}</a>
        </div>
        <p class="summary">
            {{ post.summary }}
        </p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
