---
layout: home
title: _layouts
description: this is where your meta description for top page.
---
<div id="nav">
     <ul>
         <li><a href="/about/">About</a></li>
         <li class="selected"><a href="/">Courses</a></li>
         <li><a href="/goodies/">Goodies</a></li>
         <li><a href="mailto:hello@kitchentablecoders.com">Contact</a></li>
     </ul>

</div>
<!-- h1 id="upcoming">All upcoming workshops</h1-->
<ul class="posts">
    {% for post in site.posts %}
    {% if post.upcoming %}
    <li class="article-link">
        <date title="{{ post.date | date_to_xmlschema }}">
            <span class="day-of-week">{{ post.date | date: '%A' }}</span>
            <span class="month">{{ post.date | date: '%B' }}</span>
            <span class="day">{{ post.date | date: '%d' }}</span>,
            <span>@ Brooklyn, NY</span>
        </date>
        <div>
            <a href="{{ post.url }}" class="h3">{{ post.title }}</a>
        </div>
        <p class="summary">
            {{ post.summary }}
        </p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://kitchentablecoders.us2.list-manage1.com/subscribe/post?u=d2be45cc6d8340144e5d07fe4&amp;id=e671f205eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
<div class="border"></div>
<div id="previous" class="post-link">
    <a href="/previous/">See our previous workshops</a>
    <div class="caption">You can also ask us do redo them, and we'll do our best!</div>
</div>
<div id="suggest" class="post-link">
    <div class="linkimg">
        <div class="link">
            <a href="mailto:hello@kitchentablecoders.com?subject=Suggestion for a class">Suggest a new workshop</a>
        </div>
        <img src="/img/mail.jpg"></img>
    </div>
    <div class="caption">Let us know what you'd like to learn. We often pick up on great suggestions</div>
</div>

