---
layout: home
title: Previous Workshops
description: Previous Workshops
---
<h1>Previous Workshops</h1>
<nav>
<ul class="posts">
    {% for post in site.posts %}
    {% if post.upcoming == false %}
    <li>
        <div>
            <a href="{{ post.url }}" class="h3">{{ post.title }}</a>
        </div>
    <small>
        <date>{{ post.date | date_to_string }}</date>
    </small>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</nav>
<div class="border"></div>
<div id="upcoming" class="post-link">
    <a href="/">See our upcoming workshops</a>
    <div class="caption">You can also ask us do redo them, and we'll do our best!</div>
</div>
<div id="suggest" class="post-link">
    <a href="#">Suggest a new workshop</a>
    <div class="caption">Let us know what you'd like to learn. We often pick up on great suggestions</div>
</div>
