---
layout: home
title: Previous Workshops
description: Previous Workshops
---
<div id="nav">
     <ul>
         <li><a href="/about/">About</a></li>
         <li class="selected"><a href="/">Courses</a></li>
         <li><a href="/goodies/">Goodies</a></li>
         <li><a href="mailto:kitchentablecoders@gmail.com">Contact</a></li>
     </ul>
     <div id="ktc-est">
         ~ Est. 2011 Brooklyn NY 11211 ~
     </div>
</div>
<header class="hd_article" style="margin-left:-32px;">
    <h1 class="isupcoming">All previous workshops</h1>
    <div>See anything you like? Feel free to email us and we'll try to redo it!</div>
    <div id="back">
        <a href="/">back</a>
    </div>
</header>
<ul class="posts">
    {% for post in site.posts %}
    {% if post.upcoming == false %}
    <li>
        <div>
            <a href="{{ post.url }}" class="h3">{{ post.title }}</a>
        </div>
    <small>
        <date>{{ post.date | date_to_string }}</date>
    </small>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</nav>
<div class="border"></div>
<div id="upcoming" class="post-link">
    <a href="/">See our upcoming workshops</a>
    <div class="caption">You can also ask us do redo them, and we'll do our best!</div>
</div>
<div id="suggest" class="post-link">
    <div class="linkimg">
        <div class="link">
            <a href="mailto:kitchentablecoders@gmail.com?subject=Suggestion for a class">Suggest a new workshop</a>
        </div>
        <img src="/img/mail.jpg"></img>
    </div>
    <div class="caption">Let us know what you'd like to learn. We often pick up on great suggestions</div>
</div>
