{% include system_head.html %}
<body class="{{ page.layout }}">
    <div id="page">
        {% include header.html %}
        <div id="main" role="main">
            <div class="main_inner">
                <header class="hd_article">
                    {% if page.upcoming %}
                    <h1 class="isupcoming">An upcoming workshop</h1>
                    {% else %}
                    <h1 class="isupcoming">A previous workshop</h1>
                    {% endif %}
                </header>
                <article class="the_article">
                <div class="article_inner">
                    <div class="leftcol">
                        <h1>{{ page.title }}</h1>
                        <div class="content">{{ content }}</div>
                    </div>
                    <div class="rightcol">
                        <div class="meta">
                            <div>
                                <button>Register</button>
                            </div>
                            <date title="{{ page.date | date_to_xmlschema }}">
                                <span class="published">Date: </span>
                                <span class="day">{{ page.class_date | date: '%d' }}</span>
                                <span class="month"><abbr>{{ page.class_date | date: '%b' }}</abbr></span>
                                <span class="year">{{ page.class_date | date: '%Y' }}</span>
                                <div>
                                    <span class="start">{{ page.start }}</span>-<span class="start">{{ page.end }}</span>
                                </div>
                            </date>
                            <div>
                                {{ page.location }}
                            </div>
                            <div id="fee-list">
                                {% for fee in page.fee_list %}
                                <div>{{ fee.key }} : {{ fee.value }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                </article>
            </div>
        </div><!-- id="main" -->
        <nav class="pagenation">
           <ul>
               {% if page.previous %}
               <li class="before left"><a rel="prev" href="{{ page.previous.url }}" class="btn" title="View {{ page.previous.title }}">Previous</a></li>
               {% endif %}
               {% if page.next %}
               <li class="next right"><a rel="next" href="{{ page.next.url }}" class="btn" title="View {{ page.next.title }}">Next</a></li>
               {% endif %}
           </ul>
        </nav>
        {% include footer.html %}
    </div><!-- id="page" -->
    {% include system_foot.html %}
</body>
</html>
